<form role="form">
  <div class="box-body">
    <div class="form-group">
      <label for="name"><%= t "name" %></label>
      <input type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-primary"><%= t "submit" %></button>
  </div>
</form>
