<% provide :title, t("admin_manufacturer") %>
<% provide :db, t("manufacturer") %>
<% provide :action, t("edit") %>
<%= render "admin/manufacturer/form" %>
<div class="box-footer">
  <%= link_to t("list"), "#" %> |
  <%= link_to t("show"), "#" %>
</div>
