<% provide :title, t("admin_manufacturer") %>
<% provide :db, t("manufacturer") %>
<% provide :action, t("create") %>
<%= render "admin/manufacturers/form" %>
<div class="box-footer">
   <%= link_to t("list"), "#" %>
</div>
