<% provide :title, t("admin_account") %>
<% provide :db, t("account") %>
<% provide :action, t("edit") %>
<%= render "admin/accounts/form" %>
<div class="box-footer">
  <%= link_to t("list"), "#" %> |
  <%= link_to t("show"), "#" %>
</div>
