<% provide :title, t("admin_category") %>
<% provide :db, t("category") %>
<% provide :action, t("edit") %>
<%= render "admin/categories/form" %>
<div class="box-footer">
  <%= link_to t("list"), admin_categories_url %> |
  <%= link_to t("show"), admin_category_url(@category.id) %>
</div>
