<% provide :title, ("admin_category") %>
<% provide :db, t("category") %>
<% provide :action, t("create") %>
<%= render "admin/categories/form" %>
<div class="box-footer">
   <%= link_to t("list"), admin_categories_url %>
</div>
