<% provide :title, t("admin_category") %>
<% provide :db, t("category") %>
<% provide :action, t("show") %>
<div>
  <dl class="dl-horizontal">
    <dt><%= t "name" %></dt>
    <dd><%= @category.name %></dd>
  </dl>
</div>
<br><br>
<div class="box-footer">
  <%= link_to t("edit"), edit_admin_category_url(@category.id) %> |
  <%= link_to t("list"), admin_categories_url %>
</div>
