<% provide :title, t("admin_product") %>
<% provide :db, t("product") %>
<% provide :action, t("edit") %>
<%= render "admin/products/form" %>
<div class="box-footer">
  <%= link_to t("list"), admin_products_url %> |
  <%= link_to t("show"), admin_product_url(@product.id) %>
</div>
