<% provide :title, t("admin_product") %>
<% provide :db, t("product") %>
<% provide :action, t("create") %>
<%= render "admin/products/form" %>
<div class="box-footer">
   <%= link_to t("list"), "#" %>
</div>
