/*
 *= require_tree .
 *= require_self
 *= require fontAnwesome/css/fontawesome-all
 *= require fontAnwesome/css/fontawesome-all.min
 *= require fontAnwesome/css/fontawesome
 *= require fontAnwesome/css/fontawesome.min
 *= require style_home/style.min
 *= require admin/bootstrap.min
 *= require admin/font-awesome/css/font-awesome.min
 *= require admin/AdminLTE.min
 *= require admin/_all-skins.min
 *= require social-share-button
*/
