@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

body{
  margin: 0px;
  padding: 0px;
  position: relative;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.main-footer{
  height:50px
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.style_image_hot {
  width: 110px;
  height: 130px;
  margin-bottom: 5px;
}

.div-image{
  height: 200px;
  text-align: center;
}

.image_show_product{
  max-width: 250px;
  max-height: 150px;
  margin-bottom: 10px;
}

.category-selected{
  font-weight: bold;
  color: $red;
}

.btn-search{
  background: $ed1d24;
  color: $ffffff;
  height: 50px;
  border: none;
}

#search{
  padding-left: 10px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product_show{
  width: 200px;
  height: 200px;
}

#input-group1{
  border: solid 2px $red;
}

.product-item__info-price-sale{
  padding-left: 20px
}

#sidebar_secction{
  text-align: center;
  padding-left: -5px;
  margin-bottom: 10px;
}

#sidebar_secction1{
  text-align: center;
  padding-left: -5px;
  margin-bottom: 10px;
}

.image_home{
  width: 100px;
  height: 100px;
}

.facet-list{
  max-height: 500px;
}

#siderbar-hot{
  max-height: 500px;
}

#siderbar-new{
  max-height: 500px;
}

.slogan{
  margin-left: 50px;
}

.thumb{
  float: left;
  width: 38px;
  height: 38px;
  margin-right: 30px;
}

.text{
  float: left;
}

.text .title{
  font-size: 17px;
}

.text .subtitle{
  font-size: 12px;
}

#footer-top {
  padding-left: 90px;
}

#footer-top .title{
  font-weight: bold;
  color: $black;
}

#footer-top .col-md-4{
  width: 350px;
  height: 100px;
  padding-left: 20px;
  border-left: 1px solid $e8e8e8;
}

#footer-top #footer-ative{
  border: none;
}

#image_certificate{
  width: 150px;
}

.contact{
  text-align: center;
}

.image_product {
  width: 100px;
  height: 150px;
}

.image_product:hover{
  width: 120px;
  height: 150px;
}

.image_product1 {
  width: 100px;
  height: 150px;
}

.image_product_active{
  width: 150px;
  height: 250px;
  margin-top: 10px;
}

#product-list{
  padding-top: 30px;
}

#detailImageThumbs{
  padding-top: 24px;
}

#order_detail{
  padding: 0 10%;
}

#create_statistic{
  margin-top: 30px;
}

.paginate_page{
  text-align: center;
}

.paginate_page span{
  padding: 5px;
  background-color: $ffffff;
  margin: 1px;
}

.paginate_page span:hover{
  background: $blueviolet;
}

.paginate_page span a{
  color: $blue;
}

.paginate_page span a:hover{
  color: $ffffff;
  font-weight: bold;
}

#div-search{
  margin-bottom: 10px;
}

#input_search{
  width: 150px;
  margin-left: 74px;
  padding: 3px;
}

#search_admin{
  padding: 3px;
  margin-left: 14px;
  background-color: $blue_btn;
  color: $ffffff;
}

#example1 thead,tr,th{
  text-align: left;
}

.input_total{
  width: 150px;
  padding: 3px;
  float: left;
  margin-left: 74px;
}

#search_admin1{
  padding: 3px;
  margin-left: 7px;
  background-color: $blue_btn;
  color: $ffffff;
  width: 96px;
  margin-top: 29px;
}

#account_remember_me {
  margin: 16px -352px;
}

#list_image{
  height: 80px;
}

.image-list{
  width: 70px;
  height: 70px;
  margin-bottom: 4px;
}

.category__section-1{
  margin-bottom: 20px;
}

.nav{
  color: $black;
}

.nav>li{
  float: left;
  margin-right: 15px;
}

.nav>li>a{
  text-transform: uppercase;
  color: $black;
}

.nav li{
  position: relative;
}

.nav li a{
  padding: 10px;
  line-height: 20px;
  display: inline-block;
}

.nav .sub-menu{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: $eee;
  padding: 5px 20px;
  z-index: 10;
  position: absolute;
  list-style: none;
}

.nav .sub-menu a{
  color: $black;
  font-size: 10px;
}

.nav ul.sub-menu li:hover{
  background-color: $red;
  font-weight: bold;
}

.nav ul.sub-menu li a:hover{
  color: $ffffff;
}

.nav li:hover>.sub-menu{
  display: block;
}

.nav>li>.sub-menu{
  top: 40px;
  left: 0;
}

#sidebar-wrapper{
  position: absolute;
}

.product-list__wrapper{
  position: absolute;
}

#section-product{
  padding: absolute;
}

#comment_content{
  width:577px;
  margin-left:100px;
  height: 87px;
}

#btn-comment{
  margin-top: 100px;
  margin-left: -572px;
}

.facet__text a{
  color: $black;
}

.btn-input-search{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
}

#txt-quantity {
  width: 80px;
}

#line_pay{
  border: 0.4px dashed $gray;
}
