<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b><%= t "future_mobile" %></b>
  </div>
  <div class="pull-left hidden-xs">
    <marquee><%= t "welcome_future" %></marquee>
  </div>
</footer>
