<div class="category__section category__section-1">
  <div class="section__breadcrumb-inner">
    <div class="section__breadcrumb section__breadcrumb--full">
      <div class="container">
        <ol id="header__breadcrumb" class="header__breadcrumb breadcrumb">
          <% @categories.each do |cate| %>
            <li>
              <%= link_to cate do %>
                <%= cate.name %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
