<% provide :title, t("edit_profile") %>
<% provide :button_text, t("save") %>
<div class="col-lg-10 col-md-10 col-sx-10">
<h1 class="text-center"><%= t "edit_profile" %></h1>
    <%= render "form" %>
  </div>
</div>
