<% provide :title, t("register") %>
<% provide :button_text, t("create_account") %>
<div class="col-lg-10 col-md-10 col-sx-10">
<h1 class="text-center"><%= t "register" %></h1>
  <%= render "form" %>
</div>
